html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.btn {
  position: absolute;
  left: 1320px;
  top: 830px;
  text-decoration: none;
  color: #7A87ED;
  font-family: sans-serif;
  font-weight: 800;
  border-width: 2.5px;
  border-style: solid;
  border-color:#7A87ED;
  padding: 8px 18px;
  background-color: #F8EFDD;

  border-radius: 12px;

  transition-duration: 0.4s;
}

.btn:hover {
  background-color: #7A87ED; /* blue */
  color: #F8EFDD;

  box-shadow:0 4px 8px 0 rgba(0,0,0,0.6);
}
.btn2 {
  position: absolute;
  left: 1340px;
  top: 880px;
  text-decoration: none;
  color: #7D1EBC;
  font-family: sans-serif;
  font-weight: 800;
  border-width: 2.5px;
  border-style: solid;
  border-color:#7D1EBC;
  padding: 8px 18px;
  background-color: #F8EFDD;

  border-radius: 12px;

  transition-duration: 0.4s;
}
.btn2:hover {
  background-color: #7D1EBC; /* purple*/
  color: #F8EFDD;

  box-shadow:0 4px 8px 0 rgba(0,0,0,0.6);
}
.btn3 {
  display: inline-block;
  animation: fadeIn 2s 1;
}

@keyframes fadeIn {
  0% { opacity: 0;}
  50% { opacity: 5;}
  100% { opacity: 0;}
}